@import "src/styles";
#app-notification-icon{
  display: flex;
  .color-transition {
    color: #fff;
    animation: color-animation 2s ease-in-out infinite;
  }

  @keyframes color-animation {
    0% {
      color: #fff;
    }
    50% {
      color: $secondary-color;
    }
    100% {
      color: #fff;
    }
  }
  .options-icon-action{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    color: $white;
  }
}


