<div class="swiper-container">
  <swiper *ngIf="!isLoading"
    [config]="swiperConfig"
  >
    <ng-template swiperSlide *ngFor="let item of items; let i = index">
      <p-badge styleClass="rank-number" [value]="(i + 1).toString()"></p-badge>
      <app-image class="swiper-image" [imagePath]="item.poster_path"
                 [imageTitle]="item.original_title"
                 imageSize="500"
                 (click)="goToMovieDetails(item.id)"
      ></app-image>
    </ng-template>
  </swiper>
  <swiper *ngIf="isLoading"
    [config]="swiperConfig"
  >
    <ng-template swiperSlide *ngFor="let number of [0,1,2,3,4,5,6]">
      <div class="skeleton">
        <p-skeleton width="195px" height="295px"></p-skeleton>
      </div>
    </ng-template>
  </swiper>
</div>
