<div class="swiper-container">
  <swiper
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="2"
    [spaceBetween]="30"
    [coverflowEffect]="{
      rotate: -20,
      stretch: 0,
      depth: 100,
      modifier: 1
    }"
    [pagination]="{
      dynamicBullets: true
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide *ngFor="let item of items">
      <img
      src="{{globalConstants.TMDB_IMAGE_BASE_URL + '/w500/' + item.poster_path}}"
      [alt]="item.original_title"
      class="swiper-image" />
    </ng-template>
  </swiper>
  <div class="skeleton flex gap-4" *ngIf="isLoading">
    <p-skeleton width="130px" height="200px"></p-skeleton>
    <p-skeleton width="130px" height="200px"></p-skeleton>
    <p-skeleton width="130px" height="200px"></p-skeleton>
  </div>
  <div class="pagination" slot="pagination">

  </div>
</div>
