@import 'src/styles';

app-poster-image {

  .poster-image {
    position: relative;

    img {
      width: auto;
      height: 100%;
      border-radius: 10px;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }
}
