<div class="profile-avatar">
  <img *ngIf="!isLoading" [src]="avatarUrl" (press)="null//openFileDialog()" (click)="null//openFileDialog()" >
  <input id="avatar-upload-input" (focusout)="loadAvatar()"  (change)="onFileChange($event)" type="file" #fileInput accept="image/*" style="display: none">
  <input id="avatar-upload-input-android" (focusout)="loadAvatar()"  (change)="onFileChangeAndroid()" type="text" style="display: none">
  <div *ngIf="isLoading" class="avatar-style">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>
