<div id="app-movie-details-page" class="h-full">
  <app-go-back *ngIf="!loading.movie"></app-go-back>
  <div class="backdrop-section">
    <app-image *ngIf="!loading.movie" class="backdrop-img" [imagePath]="movie.backdrop_path"
               [imageTitle]="movie.original_title"
               imageSize="original"
    ></app-image>
    <p-skeleton *ngIf="loading.movie" width="100%" height="14rem"></p-skeleton>
  </div>

  <div class="watched-section">
    <div class="status">
      <app-tag
        title="Not seen"
        [size]="2"
        [rounded]="true"
        icon="fa-regular fa-eye"
      >
      </app-tag>
    </div>
    <div class="movie-actions-icon">
      <div class="bookmark">
        <fa-icon class="bookmark-icon st-icon st-icon-small" [icon]="faBookmark"></fa-icon>
        <span *ngIf="userMovie.bookmark.length" class="badge">{{userMovie.bookmark.length}}</span>
      </div>
        <i (click)="showPositionDialog($event,'bottom-left')"  class="fa-solid fa-circle-check watched-status-check st-icon"></i>
    </div>
  </div>
  <p-dialog header="" [closeOnEscape]="true" [dismissableMask]="true"  [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width:'100vw',margin: 0}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
        <ng-template pTemplate="footer">
           <button
            icon="pi pi-check"
            (click)="displayPosition=false"
            _ngcontent-iyi-c17="" 
            pbutton="" pripple="" 
            type="button" label="Danger" 
            class="p-element p-ripple 
            
            p-button-danger 
            p-button 
            p-component" 
            ng-reflect-label="Danger">
            <span class="p-button-label">{{ViewedStatus}}</span>
            <span class="p-ink" style="height: 86px; width: 86px; top: -31.7188px; left: -16px;margin-top:10px;"></span>
          </button>
          <button 
          icon="pi pi-times"
          (click)="displayPosition=false"
          _ngcontent-iyi-c17="" 
            pbutton="" pripple="" 
            type="button" label="Danger" 
            class="p-element p-ripple 
            p-button-danger 
            p-button 
            p-component" 
            ng-reflect-label="Danger">
            <span class="p-button-label">Not viewed</span>
            <span class="p-ink" style="height: 86px; width: 86px; top: -31.7188px; left: -16px;margin-top:10px;"></span>
          </button>
        </ng-template>
</p-dialog>

  <p-divider styleClass="p-divider"></p-divider>

  <div class="primary-infos">
    <div class="title-row">
      <div>
        <h2 *ngIf="!loading.movie" class="movie-title">{{movie.title}}</h2>
        <p-skeleton *ngIf="loading.movie" width="8rem" height="1.2rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
    <div class="sub-row">
      <div class="rate-icon-container">
        <fa-icon class="rate-icon st-icon-small-2" [icon]="faStarHalfStroke"></fa-icon>
        <span *ngIf="!loading.movie" class="rate-number">{{getRateFormated()}}</span>
        <p-skeleton *ngIf="loading.movie" width="1.5rem" height=".5rem" styleClass="secondary-bg-color"></p-skeleton>
        <fa-icon class="rate-icon st-icon-small-2" [icon]="faChevronRight"></fa-icon>
      </div>
      <div class="movie-year-container">
        <span *ngIf="!loading.movie">{{getMovieYear()}}</span>
        <p-skeleton *ngIf="loading.movie" width="1.5rem" height=".5rem"></p-skeleton>
      </div>
      <div class="tags-infos-container">
        <app-tag
          [size]="1"
          [title]="movie.adult ? 'Adult' : 'Public'"
          [rounded]="true"
        ></app-tag>
        <app-tag
          [size]="1"
          [title]="movie.status"
          [rounded]="true"
        ></app-tag>
        <app-tag
          [size]="1"
          [title]="movie.original_language"
          [rounded]="true"
          [upperCase]="true"
        ></app-tag>
      </div>
    </div>
  </div>

  <p-divider styleClass="p-divider"></p-divider>

  <div class="secondary-section">
    <div class="secondary-infos" *ngIf="!loading.movie">
      <div class="genre-tags">
        <div *ngFor="let genre of movie.genres">
          <app-tag
            [size]="1"
            [title]="genre.name"
            [borderRadius]="true"
            [full]="true"
          ></app-tag>
        </div>
      </div>
      <div class="description">
        <app-description [description]="movie.overview" [maxLine]="2"></app-description>
      </div>
      <div class="actors-list" *ngIf="movie.credits">
        <app-carousel-actors-list [items]="movie.credits"></app-carousel-actors-list>
      </div>
    </div>
    <div *ngIf="loading.movie">
      <div>
        <div class="custom-skeleton p-3">
          <div class="flex mb-3">
            <div>
              <p-skeleton width="10rem" styleClass="mb-1 mt-1"></p-skeleton>
            </div>
          </div>
          <p-skeleton width="100%" height="100px"></p-skeleton>
          <div class="flex justify-content-between mt-3 gap-3">
            <div *ngFor="let i of [1,2,3]">
              <div class="flex align-content-center">
                <p-skeleton shape="circle" size="3rem" styleClass="mr-2"></p-skeleton>
                <div>
                  <p-skeleton width="5rem" height=".6rem" styleClass="mb-2"></p-skeleton>
                  <p-skeleton width="2rem" height=".5rem" styleClass="mb-2"></p-skeleton>
                  <p-skeleton height=".5rem"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-divider *ngIf="!isWatchProvidersEmpty" styleClass="p-divider"></p-divider>

  <div class="available-on-platform" *ngIf="!loading.watchProviders && !isWatchProvidersEmpty">
    <app-watch-providers [items]="watchProviders" (noData)="WatchProvidersEmpty($event)"></app-watch-providers>
  </div>

  <div class="tab-view-section" *ngIf="!loading.movie">
    <p-tabView (onChange)="handleChangeTabView($event)">
      <p-tabPanel header="Trailers">
        <ng-template pTemplate="content">
          <div class="trailers">
            <div class="trailer" *ngFor="let trailer of getYoutubeTrailers()">
              <app-image class="trailer-img"
                         [imagePath]="movie.backdrop_path"
                         imageSize="500"
                         [icon]="faPlay"
              ></app-image>
              <span class="title">{{trailer.name}}</span>
            </div>
          </div>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Comments">
        Content 2
      </p-tabPanel>
      <p-tabPanel header="More like this">
        <div class="similar-movies">
          <h2 class="text-white no-margin">Similar Movies</h2>
          <app-carousel-image-list #similarMoviesRef [items]="similarMovies"></app-carousel-image-list>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>

</div>
