<div id="app-tv-page" class="h-full">
  <app-go-back *ngIf="!loading.topRatedTv"></app-go-back>
  <div class="backdrop-section">
    <h1 *ngIf="!loading.topRatedTv" class="mainTitle">Series</h1>
    <div *ngIf="!loading.topRatedTv" class="blackFilter"></div>
    <app-image *ngIf="!loading.topRatedTv" class="backdrop-img"
               [imagePath]="topRatedTv.backdrop_path"
               imageSize="original"
    ></app-image>
    <p-skeleton *ngIf="loading.topRatedTv" width="100%" height="14rem"></p-skeleton>
  </div>
  <div class="menuShort ">
    <!--    (click)="goTo()"-->
    <button pButton type="button" class="p-button-info">Genres</button>
    <button pButton type="button" class="p-button-info">To be seen</button>
    <button pButton type="button" class="p-button-info">Top rated</button>
    <button pButton type="button" class="p-button-info">Trending</button>
    <button pButton type="button" class="p-button-info">Recommendations</button>
    <hr>
  </div>
  <div class="m-3">
    <app-carousel-genres [customCategories]="true" ></app-carousel-genres>
    <app-carousel-genres></app-carousel-genres>
  </div>


  <div class="top-rated-tv carousel-container">
    <h2 class="m-3 mb-3 text-white text-base">Airing Today</h2>
    <app-carousel-image-list #airingTodayTvRef [items]="airingTodayTv" (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
  </div>

  <div class="to-be-seen">
    <h2 class="m-3 mb-3 text-white text-base">To be seen</h2>
    <p>A faire avec les listes de l'utilisateur :))</p>
  </div>

  <div class="you-may-like">
    <h2 class="m-3 mb-3 text-white text-base">You may also like</h2>
    <p>Based on your likes </p>
  </div>


  <div class="top-rated-tv carousel-container">
    <h2 class="m-3 mb-3 text-white text-base">Top rated Series</h2>
    <app-carousel-image-list #topRatedTvRef [items]="trendingTv" (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
  </div>


  <app-media-details-dialog #mediaDetailsDialogRef ></app-media-details-dialog>

</div>
