<div id="app-tv-page" class="h-full">
  <app-header-nav></app-header-nav>
  <div class="backdrop-section">
    <h1 *ngIf="!loading.topRatedTv" class="mainTitle">Series</h1>
    <div *ngIf="!loading.topRatedTv" class="blackFilter"></div>
    <app-image *ngIf="!loading.topRatedTv" class="backdrop-img"
               [imagePath]="topRatedTv.backdrop_path"
               imageSize="original"
    ></app-image>
    <p-skeleton *ngIf="loading.topRatedTv" width="100%" height="14rem"></p-skeleton>
  </div>
  <div class="menuShort ">
    <button pButton (click)="scrollTo('airingTodayTvRefId')" type="button" class="p-button-info">Airing Today</button>
    <button pButton (click)="scrollTo('watchingId')" type="button" class="p-button-info">Watching</button>
    <button pButton (click)="scrollTo('watchedId')" type="button" class="p-button-info">Watched</button>
    <button pButton (click)="scrollTo('topRatedTvRefId')" type="button" class="p-button-info">Top Rated</button>
    <button pButton (click)="scrollTo('topAnimationRefId')" type="button" class="p-button-info">Trending animation</button>
    <hr>
  </div>

  <div class="m-3  carousel-container">
    <app-carousel-genres></app-carousel-genres>
  </div>

  <div class="top-rated-tv carousel-container" id="airingTodayTvRefId">
    <h2 class="m-3 mb-3 text-white text-base">Airing This Week</h2>
    <app-carousel-image-list #airingTodayTvRef  [items]="airingTodayTv" (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
  </div>
  <div class="to-be-seen" id="watchingId">
    <h2 class="m-3 mb-3 text-white text-base">Watching</h2>
    <app-carousel-image-list *ngIf="tvWatching.length; else emptyWatching" #watching  [items]="tvWatching" (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
    <ng-template #emptyWatching >
      <p class="m-3 mb-3 text-white text-base"><i>No Series watching, please go and like some</i></p>
    </ng-template>
  </div>

  <div class="you-may-like" id="watchedId">
    <h2 class="m-3 mb-3 text-white text-base">Watched</h2>
    <app-carousel-image-list *ngIf="tvWatched.length; else emptyWatched" #watched  [items]="tvWatched" (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
    <ng-template #emptyWatched>
      <p class="m-3 mb-3 text-white text-base"><i>No Series watched, please go and like some</i></p>
    </ng-template>
  </div>


  <div class="top-rated-tv carousel-container" id="topRatedTvRefId">
    <h2 class="m-3 mb-3 text-white text-base">Top rated Series</h2>
    <app-carousel-image-list #topRatedTvRef  [items]="trendingTv" (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
  </div>
  <div class="trending-animation-tv carousel-container mb-8" id="topAnimationRefId">
    <h2 class="m-3 mb-3 text-white text-base">Trending animation </h2>
    <app-carousel-image-list #topAnimationRef  [items]="topAnimation" (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
  </div>

  <app-media-details-dialog #mediaDetailsDialogRef ></app-media-details-dialog>

</div>
