<div class="user-social-infos">
  <div class="follow-section">
    <div *ngIf="!isFollowing && !isOwner" class="following container">
      <!--<fa-icon class="close-icon st-icon st-icon-small dark fs-icon"
               [icon]="faUserPlus"
               (click)="followUser()"
      ></fa-icon>
      <span class="label textDetail">Follow</span>-->
      <app-tag title='Follow' [rounded]="true" [size]="3" (click)="followUser()"></app-tag>
    </div>
    <div *ngIf="isFollowing&& !isOwner" class="following container">
      <!--<fa-icon class="close-icon st-icon st-icon-small dark fs-icon"
               [icon]="faUserMinus"
               (click)="unfollowUser()"
      ></fa-icon>
      <span class="label textDetail">Unfollow</span>-->
      <app-tag title='Following' [rounded]="true" [size]="3" [full]="true" (click)="unfollowUser()"></app-tag>
    </div>
  </div>
  <div class="bottom-section">
    <div class="following container">
      <span class="value">{{followingsCounter}}</span>
      <span class="label textDetail">Following</span>
    </div>
    <div class="followers container">
      <span class="value">{{followersCounter}}</span>
      <span class="label textDetail">Followers</span>
    </div>
    <div class="comments container">
      <span class="value">{{commentsCounter}}</span>
      <span class="label textDetail">Comments</span>
    </div>
  </div>
</div>
