<div class="user-social-infos mt-3 flex justify-content-around align-content-center align-items-baseline">
  <div *ngIf="!isFollowing" class="following container">
    <fa-icon class="close-icon st-icon st-icon-small dark fs-icon"
             [icon]="faUserPlus"
             (click)="followUser()"
    ></fa-icon>
    <span class="label textDetailRed">Follow</span>
  </div>
  <div *ngIf="isFollowing" class="following container">
    <fa-icon class="close-icon st-icon st-icon-small dark fs-icon"
             [icon]="faUserMinus"
             (click)="unfollowUser()"
    ></fa-icon>
    <span class="label textDetailRed">Unfollow</span>
  </div>
  <div class="following container">
    <span class="value">{{followingsCounter}}</span>
    <span class="label textDetailRed">Following</span>
  </div>
  <div class="followers container">
    <span class="value">{{followersCounter}}</span>
    <span class="label textDetailRed">Followers</span>
  </div>
  <div class="comments container">
    <span class="value">{{commentsCounter}}</span>
    <span class="label textDetailRed">Comments</span>
  </div>
</div>
