<div class="user-social-infos mt-3 flex justify-content-around align-content-center">
  <div class="following container">
    <span class="value">{{followingsCounter}}</span>
    <span class="label textDetailRed">Following</span>
  </div>
  <div class="followers container">
    <span class="value">{{followersCounter}}</span>
    <span class="label textDetailRed">Followers</span>
  </div>
  <div class="comments container">
    <span class="value">{{commentsCounter}}</span>
    <span class="label textDetailRed">Comments</span>
  </div>
</div>
