@import "src/styles";
h1{
  color: $secondary-color;
}

button{
  background-color: $secondary-color;
  border: none;
}
.tdn{
  text-decoration: none;
}
.reset-password-form {
  background-color: #2E3441;
  height: 100vh!important;
}
