<div class="flex flex-column justify-content-center gap-4">
  <div class="changePassword-header text-center">
    <h1 class="title"><span class="text-white">Show</span>Time</h1>
  </div>
  <form class="flex flex-column justify-content-center gap-4" (ngSubmit)="submitLogin()">
    <div [formGroup]="changePasswordForm" class="flex flex-column justify-content-center gap-4">
      <div class="flex flex-column text-center gap-1">
        <label for="changePassword-input-email" class="uppercase text-white text-sm">Email</label>
        <input id="changePassword-input-email"
                formControlName="email"
                type="text"
                (ngModelChange)="check()"
                pInputText
        />
      </div>
      <div class="flex flex-column text-center gap-1">
        <label for="changePassword-input-password" class="uppercase text-white text-sm">Password</label>
        <p-password id="changePassword-input-password"
        formControlName="password"
        [toggleMask]="true"
        [feedback]="false"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
        (ngModelChange)="check()"
         ></p-password>

      </div>
      <div class="flex flex-column text-center gap-1">
        <label for="changePassword-input-password" class="uppercase text-white text-sm">Repeat Password</label>
        <p-password id="repeatPassword-input-password"
        formControlName="repeatpassword"
        [toggleMask]="true"
        [feedback]="false"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
        (ngModelChange)="check()"
         ></p-password>
      </div>
    </div>

    <div class="flex flex-column text-center gap-1">
      <a class="text-white text-sm tdn mb-3" routerLink="/login" >Go Sign in</a>
      <button pButton
              type="submit"
              label="Change Password"
              [loading]="isLoading"
              [disabled]="isLoginFailed"
      ></button>
    </div>
  </form>
</div>
