@import "swiper/swiper-bundle.min.css";
@import "src/styles.scss";

app-profile-stats-carousel .swiper-container{
  padding: 1rem 1.5rem;
  color: $white;
  height: 8rem;
}

app-profile-stats-carousel .swiper{
  overflow: unset;
}

app-profile-stats-carousel .swiper::-webkit-scrollbar {
  display: none;
}

app-profile-stats-carousel .swiper {
  width: 100%;
  height: 100%;
}
