<div class="swiper-container">
  <swiper
    [config]="swiperConfig"
  >
    <ng-template swiperSlide>
      <app-profile-stat-time title="tv time" [time]=timeWatchedSeriesMonthDaysHours></app-profile-stat-time>
    </ng-template>
    <ng-template swiperSlide>
      <app-profile-stat-number title="episodes watched" [number]=numberSeriesWatched></app-profile-stat-number>
    </ng-template>
    <ng-template swiperSlide>
      <app-profile-stat-time title="movie time" [time]=timeWatchedMovieMonthDaysHours></app-profile-stat-time>
    </ng-template>
    <ng-template swiperSlide>
      <app-profile-stat-number title="movies watched" [number]=numberMoviesWatched></app-profile-stat-number>
    </ng-template>
  </swiper>
</div>
