@import "swiper/swiper-bundle.min.css";
@import "src/styles.scss";

app-profile-stats-carousel .swiper-container{
  padding: 1rem 1.5rem;
  color: $white;
  height: 9rem;
}
app-profile-stats-carousel .swiper-wrapper:nth-child(1){
  height: 7rem!important;
  min-width: 25rem!important;
}
app-profile-stats-carousel .swiper{
  overflow: unset;
}

app-profile-stats-carousel .swiper::-webkit-scrollbar {
  display: none;
}

app-profile-stats-carousel .swiper {
  width: 100%;
  height: 100%;
}
@media (max-width: 770px) {
  .stat-container{
    min-height: max-content;
    width: 16.5rem;
    font-size: $font-small;

  }
  .swiper-container{
    width: 45rem;
  }
  .swiper-slide{
    margin-right: -7rem !important;
  }
}
@media (min-width: 771px) {
  .stat-container{
    min-height: max-content;
    width: 16.5rem;
    font-size: $font-small;

  }
  .swiper-container{
    width: 45rem;
  }
  .swiper-slide{
    margin-right: 10rem !important;
  }
}
@media (min-width: 1024px) {
  .stat-container{
    min-height: max-content;
    width: 16.5rem;
    font-size: $font-small;

  }
  .swiper-container{
    width: 45rem;
  }
  .swiper-slide{
    margin-right: 16rem !important;
  }
}
