<div class="flex flex-column justify-content-center gap-4">
  <div class="login-header text-center">
    <h1 class="title"><span class="text-white">Show</span>Time</h1>
  </div>
  <form class="flex flex-column justify-content-center gap-4" (ngSubmit)="submitLogin()">
    <div [formGroup]="loginForm" class="flex flex-column justify-content-center gap-4">
      <div class="flex flex-column text-center gap-1">
        <label for="login-input-email" class="uppercase text-white text-sm">Email</label>
        <input id="login-input-email"
               formControlName="email"
               type="text"
               pInputText
        />
      </div>
      <div class="flex flex-column text-center gap-1">
        <label for="login-input-password" class="uppercase text-white text-sm">password</label>
        <p-password id="login-input-password"
                    formControlName="password"
                    [toggleMask]="true"
                    [feedback]="false"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
        ></p-password>
      </div>
    </div>
    <div class="flex justify-content-center">
      <button pButton
              type="submit"
              label="Sign In"
              [loading]="isLoading"
              [disabled]="loginForm.invalid"
      ></button>
    </div>
  </form>
  <p-toast position="bottom-center"></p-toast>
</div>
