<div class="flex flex-column justify-content-center gap-4">
  <div class="login-header text-center">
    <h1 class="title"><span class="text-white">Show</span>Time</h1>
  </div>
  <form class="flex flex-column justify-content-center gap-4" (ngSubmit)="submitLogin()">
    <div [formGroup]="loginForm" class="flex flex-column justify-content-center gap-4">
      <div class="flex flex-column text-center gap-1">
        <label for="login-input-email" class="uppercase text-white text-sm">Email</label>
        <input id="login-input-email"
               formControlName="email"
               type="text"
               pInputText
        />
      </div>
      <div class="flex flex-column text-center gap-1">
        <label for="login-input-password" class="uppercase text-white text-sm">password</label>
        <p-password id="login-input-password"
                    formControlName="password"
                    [toggleMask]="true"
                    [feedback]="false"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
        ></p-password>
        <div class="flex justify-content-between text-center gap-1">
          <p class="text-white text-sm" routerLink="/reset" >Forget password ?</p>
          <p class="text-white text-sm" routerLink="/register" >Register</p>
        </div>
      </div>
    </div>
    <div class="flex justify-content-center flex-column">
      <button pButton
              type="submit"
              label="Sign In"
              [loading]="isLoading"
              [disabled]="loginForm.invalid"
              class="mb-3"
      ></button>
      <div id="g_id_onload"
           data-client_id="108918265204-8vlnr2kh2bc0t872mp67k8qu9k2t9t59.apps.googleusercontent.com"
           data-context="signin"
           data-ux_mode="popup"
           data-callback="handleLoginGoogle"
           data-nonce=""
           data-itp_support="true">
      </div>

      <div class="g_id_signin"
           data-type="standard"
           data-shape="square"
           data-theme="filled_blue"
           data-text="signin_with"
           data-size="large"
           data-locale="en-US"
           data-logo_alignment="left">
      </div>
    </div>
  </form>
  <p-toast position="bottom-center"></p-toast>
  <script>

  </script>
</div>
