<div class="one-episode">
  <div class="image-container">
    <app-image class="poster-image" [imagePath]="item.still_path"
               [imageTitle]="item.name"
               imageSize="500"
               (imgStateEvent)="imageStateChange($event)"
               [lazyLoading] = "false"
    ></app-image>
  </div>
  <div class="infos-episode">
    <h4 class="episode-title">Episode <span class="red">{{item.episode_number}}</span> - Season <span class="red">{{item.season_number}}</span> </h4>
    <div class="title-episode-card">
      <p class="overview-episode" *ngIf="todayDate >= item.air_date">{{item.name}}</p>
      <div *ngIf="todayDate < item.air_date">
        <p class="overview-episode">Available :</p>
        <p class="overview-episode">{{item.air_date}}</p>
      </div>
    </div>
  </div>
  <div class="view-info" *ngIf="todayDate >= item.air_date">

      <i
        *ngIf="!isLoadingStatus"
        [class]="item.status"
        (click)="updateEpisodeStatusDialog()"
        class="fa-solid fa-circle-check watched-status-check st-icon"
      ></i>
      <p-progressSpinner *ngIf="isLoadingStatus"  styleClass="custom-spinner" strokeWidth="8"></p-progressSpinner>
  </div>
  <p-dialog
    class="viewed-dialog"
    [closeOnEscape]="true"
    [dismissableMask]="true"
    [(visible)]="viewedAddDialogShown"
    [position]="viewedAddDialogPosition"
    [modal]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    closeIcon=""
  >
    <div class="flex justify-content-evenly mt-2">
      <ng-template pTemplate="header">
        Mark as ...
      </ng-template>
      <button
        pButton pRipple
        type="button"
        label="Seen again"
        icon="pi pi-plus"
        class="p-button-text viewed-dialog-btn"
        (click)="increaseWatchedNumber()"
      ></button>
      <button
        pButton pRipple
        type="button"
        label="Not seen"
        class="p-button-text viewed-dialog-btn"
        icon="pi pi-eye-slash"
        (click)="removeFromViewInfo()"
      ></button>
    </div>
  </p-dialog>
</div>
