::ng-deep {
  .p-accordion .p-accordion-header {
    padding-bottom: 1em;

    .p-accordion-header-link {
      background: #4C5364 !important;
      color: white !important;
      border: none;
      overflow: hidden;
    }
  }
  .p-toggleable-content{
    position: relative;
  }

  .p-accordion .p-accordion-content {
    border: none;
    background: none;
    padding: 0;
    padding-top: 1em;
  }
  .seasonName{
    font-size: 1.2rem
  }
  .p-progressbar .p-progressbar-value{
    background: #F65C63;
  }
}
.progressionBar{
  height: 9px;
  position: absolute;
  width: 100% ;
  right: 0;
  left: 0;
  bottom: -2px;
}

.accordionSeries {
  .flexer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }
  .seasonName{
    width: 50%;
  }
  .seenCounter{
    width: 50%;
    justify-content: flex-end;
    .epCount{
      margin-right: 1rem;
    }
  }
}

