<p-accordion class="accordionSeries" [multiple]="true">
  <ng-container *ngFor="let season of allSeasons">
  <p-accordionTab *ngIf="season.episodes.length > 1" id="season-{{season.season_number}}" [cache]="true">

    <ng-template pTemplate="header">
      <div class="flexer">
        <h2 class="seasonName">{{season.name}}</h2>
        <div class="flexer seenCounter">
          <p class="epCount"> {{episodesSeen}} / {{season.episodes.length}}</p>
          Status : {{season.watchedStatus}}
          <i
            (click)="updateSeasonStatus(season.id)"
            [class]="season.watchedStatus"
            class="fa-solid fa-circle-check watched-status-check st-icon ">
          </i>
        </div>
      </div>

      <p-progressBar class="progressionBar" [value]="episodesSeen/season.episodes.length*100"></p-progressBar>
    </ng-template>
    <ng-template pTemplate="content">
      <ng-container *ngFor="let episode of season.episodes">
        <app-episode-card
          [tvId]="tvId"
          [seasonId]="season.id"
          [item]="episode">
        </app-episode-card>
      </ng-container>
    </ng-template>

  </p-accordionTab>
  </ng-container>
</p-accordion>
