@import "src/styles";

#movie-details-dialog {

  .p-dialog-header {
    display: none !important;
  }

   .p-dialog-content {
    background-color: $main-color !important;
    color: $white;
    padding: 0 !important;
    position: relative;
    overflow-y: auto;

    .top-section {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      position: absolute;
      z-index: 9999;
      width: 30px;
      height: 30px;
      top: 1.5rem;
      right: 1.5rem;
      border-radius: 50%;
      font-size: $font-medium;
    }
  }

  .p-dialog-container-movie{
    position: fixed;
    bottom: 0;
  }
  .p-dialog-footer {
    display: none !important;
  }

  .p-dialog {
    width: 100%;
    margin: 0 !important;
    max-height: 100% !important;
    min-height: 100% !important;
  }

  .p-dialog .p-dialog-header .p-dialog-header-icon {
    pointer-events: none;
  }
}
