<p-dialog
  id="app-social-user-detail"
  [closeOnEscape]="false"
  [dismissableMask]="true"
  [(visible)]="viewedDialogShown"
  [position]="viewedDialogPosition"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  closeIcon=""
  [transitionOptions]="'300ms cubic-bezier(1, 1, 1, 1)'"
>
  <div >
    <div class="top-section">
      <fa-icon class="close-icon st-icon st-icon-small dark"
               [icon]="faChevronDown"
               (click)="close()"
      ></fa-icon>
    </div>
    <app-social-top-section [username]="username"  [isOwner]="false"></app-social-top-section>
    <app-social-info-section [username]="username"></app-social-info-section>
    <div class="tab-view-section">
      <p-tabView>
        <p-tabPanel header="About" class="About-panel">
          {{About}}
        </p-tabPanel>
        <p-tabPanel header="Comments" class="Comments-panel">
          {{Comments}}
        </p-tabPanel>
        <p-tabPanel header="Trophies" class="Trophies-panel">
          {{Trophies}}
        </p-tabPanel>
        <p-tabPanel header="Stats" class="Search-panel">
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</p-dialog>
