<p-carousel [value]="trendings"
            [circular]="true"
            [responsiveOptions]="responsiveOptions"
            [showNavigators]="false"
            indicatorStyleClass="trending-carousel-indicator"
>
  <ng-template let-trending pTemplate="item">
    <ng-template pTemplate="header">
      <h5>Trending</h5>
    </ng-template>
    <div class="trending-item">
      <div class="trending-item-content">
          <img
               src="{{globalConstants.TMDB_IMAGE_BASE_URL + '/w500/' + trending.poster_path}}"
               [alt]="trending.original_title"
               class="trending-image" />
        </div>
    </div>
  </ng-template>
</p-carousel>
