@import "src/styles";

app-image{

  .container{
    position: relative;
    overflow: hidden;

    .icon{
      position: absolute;
      width: auto;
      max-width: 2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $secondary-color;
      padding: .5rem .7rem;
      border-radius: 50%;
      backdrop-filter: blur(10px);
    }
  }

  .hide{
    display: none!important;
  }

  .title{
    color: $white;
    font-weight: bold;
    width: 90%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%);
  }
}
