<div class="app-404-page flex justify-content-center align-content-center flex-wrap h-full">
  <div class="login-header text-center">
    <h1 class="title"><span class="text-white">Show</span>Time</h1>
    <h1 class="title"><span class="text-white">Error 404 - Page not found</span></h1>
    <h1 class="title"><span class="text-white">

         <a routerLink="/home"
            class="mb-3"
         > <button
           id="signin_normal_button"
           pButton
           type="submit"
           label="Home page"
           class="mb-3"
         ></button></a>
    </span></h1>
  </div>
</div>

