@import "src/styles";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Lato, serif;
}
//PrimeNG Components style
body .p-component
{
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: .9rem;
}

img.ng-lazyloaded {
  animation: fadein .5s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.desktop-root-view{
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  transition: all ease-in-out 500ms;
  &.--withoutNavBar{
    grid-template-columns: 1fr !important;
  }

  .router-outlet{
    overflow: auto;
    max-height: 100vh;
    background-color: $main-color;
  }
}
