<div id="comment">
  <div class="comment-container-top">
    <div class="comment-top-section">
      <app-comment-avatar [profilePicture]="comment.comments.user.profilePicture"></app-comment-avatar>
      <div class="username">
        <span>{{comment.comments.user.fullName}}</span>
        <span class="date">{{comment.comments.validate == true ? 'Published'
          : comment.comments.validate == false && comment.comments.spoiler == true ? 'Spoiler refused'
          : 'Pending'}} {{getCommentDate()}} day{{getCommentDate() > 1 ? 's': null}} ago</span>
      </div>
    </div>
    <div class="content">
      {{comment.comments.content}}
    </div>
  </div>
  <div class="actions">
    <p-divider styleClass="mb-2" class="--darker"></p-divider>
    <div class="buttons">
      <div class="likes flex" (click)= "likeComment(comment.comments)">
        <i *ngIf="comment.liked" class="pi pi-heart-fill"></i>
        <i *ngIf="!comment.liked" class="pi pi-heart"></i>
        <p><span>{{comment.comments.likes.length}}</span> like{{comment.comments.likes.length > 1 ? 's' : null}}</p>
      </div>
      <div class="likes flex" (click)="respondToComment()">
        <i class="pi pi-comment"></i>
        <p><span>1250</span> response{{comment.likes > 1 ? 's' : null}}</p>
      </div>
      <div class="share flex" (click)="shareComment()">
        <i class="pi pi-share-alt"></i>
        <p>share</p>
      </div>
    </div>
  </div>
</div>
