<div id="app-tv-details" class="h-full">
  <div class="backdrop-section">
    <app-image *ngIf="!loading.tv" class="backdrop-img" [imagePath]="tv.backdrop_path"
               [imageTitle]="tv.name"
               imageSize="original"
    ></app-image>
    <p-skeleton *ngIf="loading.tv" width="100%" height="14rem"></p-skeleton>
  </div>

  <div class="watched-section">
    <div class="status">
      <i
        *ngIf="!isLoadingStatusSerie"
        (click)="addSerieToWatchedListDialog()"
         [class]="userTv.viewInfo.checked"
         class="fa-solid fa-circle-check watched-status-check st-icon"></i>
      <p-progressSpinner *ngIf="isLoadingStatusSerie"  styleClass="custom-spinner" strokeWidth="8"></p-progressSpinner>

      <app-tag
        [title]="seenStatus"
        [size]="2"
        [rounded]="true"
        icon="fa-regular fa-eye"
      >
      </app-tag>

    </div>
    <div class="tv-actions-icon">
      <div  *ngIf="!isLoadingStatusFavorite"
            (click)="toggleTvInFavoritelist()" class="bookmark">
        <fa-icon [class]="userTv.favorite.checked" class="fa-icon st-icon st-icon-small" [icon]="faFavorites"></fa-icon>
      </div>
      <p-progressSpinner *ngIf="isLoadingStatusFavorite" styleClass="custom-spinner" strokeWidth="8"></p-progressSpinner>


      <div   *ngIf="!isLoadingStatusWatchList"
             (click)="toggleTvInWatchlist()" class="bookmark">
        <fa-icon class="bookmark-icon st-icon st-icon-small" [icon]="faBookmark"></fa-icon>
        <span *ngIf="userTv.bookmark.checked" class="badge"></span>
      </div>
      <p-progressSpinner *ngIf="isLoadingStatusWatchList" styleClass="custom-spinner" strokeWidth="8"></p-progressSpinner>

    </div>
  </div>

  <p-divider styleClass="p-divider"></p-divider>

  <div class="primary-infos">
    <div class="title-row">
      <div>
        <h2 *ngIf="!loading.tv" class="tv-title">{{tv.name}}</h2>
        <p-skeleton *ngIf="loading.tv" width="8rem" height="1.2rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>

    <div class="sub-row">
      <div class="rate-icon-container">
        <fa-icon class="rate-icon st-icon-small-2" [icon]="faStarHalfStroke"></fa-icon>
        <span *ngIf="!loading.tv" class="rate-number">{{getRateFormated()}}</span>
        <p-skeleton *ngIf="loading.tv" width="1.5rem" height=".5rem" styleClass="secondary-bg-color"></p-skeleton>
        <fa-icon class="rate-icon st-icon-small-2" [icon]="faChevronRight"></fa-icon>
      </div>
      <div class="tv-year-container">
        <span *ngIf="!loading.tv">{{getTvYear()}}</span>
        <p-skeleton *ngIf="loading.tv" width="1.5rem" height=".5rem"></p-skeleton>
      </div>
      <div class="tags-infos-container">
        <app-tag
          [size]="1"
          [title]="tv.status"
          [rounded]="true"
        ></app-tag>
        <app-tag
          [size]="1"
          [title]="tv.original_language"
          [rounded]="true"
          [upperCase]="true"
        ></app-tag>
      </div>
    </div>


    <div class="tab-view-section" *ngIf="!loading.tv">
      <p-tabView (onChange)="handleChangeTabView($event)" [activeIndex]="1">
        <p-tabPanel header="About">
          <div class="tags-view-tab" *ngFor="let genre of tv.genres">
            <app-tag
              [size]="1"
              [title]="genre.name"
              [borderRadius]="true"
            ></app-tag>

          </div>
          <p class="overview">{{tv.overview}}</p>

          <div class="actors-list" *ngIf="tv.credits">
            <app-carousel-actors-list [items]="tv.credits"></app-carousel-actors-list>
          </div>

          <div class="available-on-platform" *ngIf="!loading.watchProviders && !isWatchProvidersEmpty">
            <app-watch-providers [items]="watchProviders" (noData)="WatchProvidersEmpty($event)" [rentProviders]="false"
                                 [buyProviders]="false"></app-watch-providers>
          </div>

        </p-tabPanel>

        <p-tabPanel header="Episodes">
          <h2 class="m-1 mb-3 mt-3 text-white text-base">Watch Next </h2>
          <app-episode-card
            [item]="lastEpisode"
            [tvId]="requestedTvId"
            [seasonNumber]="lastEpisode.season_number"
            [episodeNumber]="lastEpisode.episode_number"
            (resultEpisodeUpdateEventEmitter)="updateSpecificEpisodeInSeasonAccordion($event);updateLastSeenEpisode();updateSerieInfosFromChild(requestedTvId);"
          >
          </app-episode-card>

          <h2 class="m-1 mb-3 mt-5 text-white text-base">All Episodes</h2>
          <app-accordion-seasons
            *ngIf="!loading.isLoadingChildren"
            [nbSeasons]="tv.number_of_seasons"
            [item]="serieFullyWatchedEvent"
            [tvId]="tv.id"
            (resultsSerieEmitterEventv2)="updateSerieInfosFromChild(requestedTvId); updateLastSeenEpisode()"
            (resultEpisodeUpdateEventEmitter)="updateSpecificEpisodeInSeasonAccordion($event);updateLastSeenEpisode();updateSerieInfosFromChild(requestedTvId);"

            #accordionSeasonsRef
          >
          </app-accordion-seasons>
          <p-progressSpinner *ngIf="loading.isLoadingChildren"></p-progressSpinner>
        </p-tabPanel>

      </p-tabView>

    </div>

  </div>

  <div class="tab-view-section2" *ngIf="!loading.tv">
    <p-tabView (onChange)="handleChangeTabView2($event)">
      <p-tabPanel header="Comments">
        <div>
          <div *ngIf="resultUserComments.length" class="comments">
            <div class="comment" *ngFor="let resultUserComments of resultUserComments">
              <app-comment [comment]="resultUserComments"></app-comment>
            </div>
          </div>
          <div *ngIf="resultComments.length" class="comments">
            <div class="comment" *ngFor="let resultComment of resultComments">
              <app-comment [comment]="resultComment"></app-comment>
            </div>
          </div>
          <div *ngIf="resultComments.length <= 0" class="text-center">
            <h3>No comments</h3>
          </div>
        </div>

      </p-tabPanel>
      <p-tabPanel header="More like this">
        <div class="similar-tv">
          <h2 class="text-white no-margin">Similar Series</h2>
          <app-carousel-image-list #similarTvRef [items]="similarTv"
                                   (eventEmitter)="handleTvChange($event)"></app-carousel-image-list>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="flex justify-content-end mb-4 mr-2">
    <button *ngIf="isCommentSectionActive"
            pButton pRipple type="button" icon="pi pi-comments"
            class="p-button-rounded st-secondary-btn floating-comment-btn shadow-6"
            (click)="openAddCommentDialog()"
    ></button>
  </div>

  <p-dialog
    class="viewed-dialog"
    [closeOnEscape]="isClosable"
    [dismissableMask]="isDissmissable"
    [(visible)]="viewedAddDialogShown"
    [position]="viewedAddDialogPosition"
    [modal]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    closeIcon=""
  >
    <div class="flex justify-content-evenly mt-2">
      <ng-template pTemplate="header">
        Mark as ...
      </ng-template>
      <button
        pButton pRipple
        type="button"
        label="Seen again"
        icon="pi pi-plus"
        class="p-button-text viewed-dialog-btn"
        [loading]="isButtonIncreaseLoading"
        [disabled]="isButtonDisabled"
        (click)="increaseWatchedNumber()"
      ></button>
      <button
        pButton pRipple
        type="button"
        label="Not seen"
        class="p-button-text viewed-dialog-btn"
        icon="pi pi-eye-slash"
        [loading]="isButtonRemoveLoading"
        [disabled]="isButtonDisabled"
        (click)="removeFromViewInfo()"
      ></button>
    </div>
  </p-dialog>
</div>


<app-add-comment-dialog #addCommentDialogRef (eventEmitter)="fetchComments()"></app-add-comment-dialog>
