@import "src/styles";

.top-banner-section{
  display: flex;
  justify-content: center;
  position: relative;
  height: 35vh;

  .user-profile-background{
    img{
      width: 85vw;
      height: 32vh;
      transform: scale(1.2);
    }
  }

  .app-profile-avatar{
    position: absolute;
    align-self: flex-end;
  }
}
.user-basic-infos{
  color: $white;
  display: flex;
  justify-content: center;
  z-index: 10000;
  position: relative;
  background-color: transparent;
  top:-4rem;
}




