<div class="app-profile-page h-full" *ngIf="isMobileDevice || isTabletDevice; else desktop">
  <app-header-nav [displayAvatar]="false" [displayProfileMenu]="true"
                  (openEditProfile)="openEditProfile()"></app-header-nav>
  <app-profile-top-section #profileTopSectionRef></app-profile-top-section>
  <app-profile-social-infos></app-profile-social-infos>
  <app-profile-stats-carousel [numberSeriesWatched]=numberSeriesWatched
                              [timeWatchedSeriesMonthDaysHours]=timeWatchedSeriesMonthDaysHours
                              [numberMoviesWatched]=numberMoviesWatched
                              [timeWatchedMovieMonthDaysHours]=timeWatchedMovieMonthDaysHours
  ></app-profile-stats-carousel>

  <p-divider></p-divider>

  <div class="tab-view-section mt-3">
    <p-tabView (onChange)="handleChangeTabView($event)">
      <p-tabPanel header="Series" class="series-panel">


        <div class="favorites carousel-container">
          <div class="header-title">
            <h2 class="m-3 mb-3 text-white text-base">Favorites</h2>
          </div>
          <app-carousel-image-list *ngIf="favoritesSeries.length; else emptyFav" #favoritesSeriesRef [items]="favoritesSeries"
                                   (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
          <ng-template #emptyFav >
            <p class="m-3 mb-3 text-white text-base"><i>No Series in favorite, please go and like some !</i></p>
          </ng-template>
        </div>

        <div class="watchlist carousel-container">
          <div class="header-title">
            <h2 class="m-3 mb-3 text-white text-base">Watching</h2>
          </div>
          <app-carousel-image-list *ngIf="watchingSeries.length; else emptyWatching" #watchingSeriesRef [items]="watchingSeries"
                                   (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
          <ng-template #emptyWatching >
            <p class="m-3 mb-3 text-white text-base"><i>No Series watching, please go and check some !</i></p>
          </ng-template>
        </div>

        <div class="watchlist carousel-container">
          <div class="header-title">
            <h2 class="m-3 mb-3 text-white text-base">WatchList</h2>
          </div>
          <app-carousel-image-list *ngIf="watchListSeries.length; else emptyWatchlist" #watchlistSeriesRef [items]="watchListSeries"
                                   (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
          <ng-template #emptyWatchlist >
            <p class="m-3 mb-3 text-white text-base"><i>Nothing in watchlist, please go and check some !</i></p>
          </ng-template>
        </div>

        <div class="last-watched carousel-container">
          <div class="header-title">
            <h2 class="m-3 mb-3 text-white text-base">Last watched </h2>
            <span class="see-all-btn" (click)="openViewAllProfileList('lastWatchedSeries')"
                  *ngIf="lastWatchedSeriesTotal>10">See all</span>
          </div>
          <app-carousel-image-list  *ngIf="lastWatchedSeries.length; else emptyWatched" #lastWatchedSeriesRef [items]="lastWatchedSeries"
                                   (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
          <ng-template #emptyWatched >
            <p class="m-3 mb-3 text-white text-base"><i>No Series watched, please go and check some !</i></p>
          </ng-template>
        </div>


      </p-tabPanel>
      <p-tabPanel header="Movies" class="movies-panel">
        <div class="last-watched carousel-container" *ngIf="lastWatchedMovies.length">
          <div class="header-title">
            <h2 class="m-3 mb-3 text-white text-base">Last watched</h2>
            <span class="see-all-btn" (click)="openViewAllProfileList('lastWatchedMovies')"
                  *ngIf="lastWatchedMoviesTotal>10">See all</span>
          </div>
          <app-carousel-image-list #lastWatchedMoviesRef [items]="lastWatchedMovies"
                                   (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
        </div>
        <div class="favorites carousel-container" *ngIf="favoritesMovies.length">
          <div class="header-title">
            <h2 class="m-3 mb-3 text-white text-base">Favorites</h2>
            <span class="see-all-btn" (click)="openViewAllProfileList('favoritesMovies')"
                  *ngIf="favoritesMoviesTotal>10">See all</span>
          </div>
          <app-carousel-image-list #favoritesMoviesRef [items]="favoritesMovies"
                                   (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
        </div>
        <div class="watchlist carousel-container" *ngIf="watchlistMovies.length">
          <div class="header-title">
            <h2 class="m-3 mb-3 text-white text-base">Watchlist</h2>
            <span class="see-all-btn" (click)="openViewAllProfileList('watchlistMovies')"
                  *ngIf="watchlistMoviesTotal>10">See all</span>
          </div>
          <app-carousel-image-list #watchlistMoviesRef [items]="watchlistMovies"
                                   (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<ng-template #desktop>
  <div class="--desktop">
    <app-header-nav [displayAvatar]="false" [displayProfileMenu]="true"
                    (openEditProfile)="openEditProfile()"></app-header-nav>
    <div class="top-section-desktop">
      <div>
        <app-profile-top-section #profileTopSectionRef></app-profile-top-section>
        <app-profile-social-infos></app-profile-social-infos>
      </div>
      <div class="stats-desktop">
        <app-profile-stat-time [isBig]="true" title="tv time" [time]=timeWatchedSeriesMonthDaysHours></app-profile-stat-time>
        <app-profile-stat-number [isBig]="true" title="episodes watched" [number]=numberSeriesWatched></app-profile-stat-number>
        <app-profile-stat-time [isBig]="true" title="movie time" [time]=timeWatchedMovieMonthDaysHours></app-profile-stat-time>
        <app-profile-stat-number [isBig]="true" title="movies watched" [number]=numberMoviesWatched></app-profile-stat-number>
      </div>
    </div>
    <div class="m-6">
    <p-divider></p-divider>
      <div class="last-watched carousel-container mt-6" *ngIf="lastWatchedMovies.length">
        <div class="header-title">
          <h2 class="m-3 mb-3 text-white text-base">Last watched Movies</h2>
          <span class="see-all-btn" (click)="openViewAllProfileList('lastWatchedMovies')"
                *ngIf="lastWatchedSeriesTotal>10">See all</span>
        </div>
        <app-desktop-carousel [small]="true" [items]="lastWatchedMovies" (eventEmitter)="openDetailsDialog($event)"></app-desktop-carousel>
      </div>
      <div class="last-watched carousel-container mt-6" *ngIf="lastWatchedSeries.length">
        <div class="header-title">
          <h2 class="m-3 mb-3 text-white text-base">Last watched Series</h2>
          <span class="see-all-btn" (click)="openViewAllProfileList('lastWatchedSeries')"
                *ngIf="lastWatchedSeriesTotal>10">See all</span>
        </div>
        <app-desktop-carousel [small]="true" [items]="lastWatchedSeries" (eventEmitter)="openDetailsDialog($event)"></app-desktop-carousel>
      </div>
      <div class="last-watched carousel-container mt-6" *ngIf="favoritesMovies.length">
        <div class="header-title">
          <h2 class="m-3 mb-3 text-white text-base">Favorite Movies</h2>
          <span class="see-all-btn" (click)="openViewAllProfileList('favoritesMovies')"
                *ngIf="lastWatchedSeriesTotal>10">See all</span>
        </div>
        <app-desktop-carousel [small]="true" [items]="favoritesMovies" (eventEmitter)="openDetailsDialog($event)"></app-desktop-carousel>
      </div>
      <div class="last-watched carousel-container mt-6" *ngIf="favoritesSeries.length">
        <div class="header-title">
          <h2 class="m-3 mb-3 text-white text-base">Favorite Series</h2>
          <span class="see-all-btn" (click)="openViewAllProfileList('favoritesSeries')"
                *ngIf="lastWatchedSeriesTotal>10">See all</span>
        </div>
        <app-desktop-carousel [small]="true" [items]="favoritesSeries" (eventEmitter)="openDetailsDialog($event)"></app-desktop-carousel>
      </div>
      <div class="last-watched carousel-container mt-6" *ngIf="watchlistMovies.length">
        <div class="header-title">
          <h2 class="m-3 mb-3 text-white text-base">Watchlist Movies</h2>
          <span class="see-all-btn" (click)="openViewAllProfileList('watchlistMovies')"
                *ngIf="lastWatchedSeriesTotal>10">See all</span>
        </div>
        <app-desktop-carousel [small]="true" [items]="watchlistMovies" (eventEmitter)="openDetailsDialog($event)"></app-desktop-carousel>
      </div>
      <div class="last-watched carousel-container mt-6" *ngIf="watchingSeries.length">
        <div class="header-title">
          <h2 class="m-3 mb-3 text-white text-base">Watchlist Series</h2>
          <span class="see-all-btn" (click)="openViewAllProfileList('watchlistSeries')"
                *ngIf="lastWatchedSeriesTotal>10">See all</span>
        </div>
        <app-desktop-carousel [small]="true" [items]="watchingSeries" (eventEmitter)="openDetailsDialog($event)"></app-desktop-carousel>
      </div>
    </div>
  </div>
</ng-template>


<app-view-all-profile-list class="view-all-profile-list" [listData]="[]"
                           #viewAllProfileListRef></app-view-all-profile-list>

<app-media-details-dialog #mediaDetailsDialogRef></app-media-details-dialog>
<app-edit-profile-dialog #editProfileDialogRef (imageSaved)="updateProfileTopSection()"
                         (accountInfosSaved)="updateProfileTopSection()"></app-edit-profile-dialog>
