$main-color: #2E3441;
$secondary-color: #F65C63;
$white: #FFFFFF;

$margin-small: .5rem;
$margin-default: 1rem;
$margin-big: 2rem;

$font-default: 1rem;
$font-medium: 1.3rem;
$font-big: 1.5rem;
$font-big-2: 1.8rem;


* {
  font-family: Lato, sans-serif;
  font-weight: 600;
}


