<div class="app-privacy-page ">

  <div class="p-3 h-full">
    <div class="top-header">
      <app-logo class="app-logo" style="font-size: 0.7rem"> </app-logo>
    </div>
    <h1 class="text-red-50 text-base">Privacy Policy</h1>
  <p class="text-white text-base" >  We value your privacy and are committed to protecting your personal information.</p>
  <p class="text-white text-base"> We understand that your email is a sensitive piece of data and we want to assure you that we do not use it for commercial purposes.</p>
  <p class="text-white text-base">We also want to make it clear that we use Amazon Web Services (AWS) to host our platform, which includes storing profile pictures on an open S3 bucket.</p>
  <p class="text-white text-base" >However, we take the necessary precautions to ensure that your personal information, including your profile picture, is secure and protected from unauthorized access.</p>
  <p class="text-white text-base" >We will not share, sell, or rent any of your personal information to third parties for marketing purposes.</p>
  <p class="text-white text-base">We only use your email for the purpose of communicating with you about our platform and providing you with updates that may be of interest to you.</p>
  <p class="text-white text-base">Please note that by using our platform and providing us with your email, you consent to the collection and use of your personal information in accordance with our Privacy Policy.</p>
  <p class="text-white text-base">If you have any concerns or questions regarding our privacy practices, please feel free to contact us to showtime.app.contact@gmail.com .
    We appreciate your trust in us and will continue to work hard to earn and maintain it.</p>
  </div>
  <p-toast position="bottom-center"></p-toast>
</div>

