<div class="swiper-container">
    <swiper
      [config]="swiperConfig"
    >
      <ng-template swiperSlide *ngFor="let item of items"><img
        src="{{globalConstants.TMDB_IMAGE_BASE_URL + '/w500/' + item.poster_path}}"
        [alt]="item.original_title"
        class="movie-image" /></ng-template>
    </swiper>
  <div class="skeleton flex gap-1" *ngIf="isLoading">
    <p-skeleton width="153px" height="230px" ></p-skeleton>
    <p-skeleton width="153px" height="230px"></p-skeleton>
    <p-skeleton width="153px" height="230px"></p-skeleton>
  </div>
</div>
