<div class="swiper-container">
    <swiper
      [slidesPerView]="2.3"
      [spaceBetween]="5"
      [freeMode]="true"
      class="swiper"
    >
      <ng-template swiperSlide *ngFor="let item of items"><img
        src="{{globalConstants.TMDB_IMAGE_BASE_URL + '/w500/' + item.poster_path}}"
        [alt]="item.original_title"
        class="movie-image" /></ng-template>
    </swiper>
  <div class="skeleton flex gap-4" *ngIf="isLoading">
    <p-skeleton class="movie-image"></p-skeleton>
  </div>
</div>
