<div class="app-movies-page h-full overflow-auto">
  <app-header-nav></app-header-nav>
  <div class="trending-section carousel-container">
    <h2 class="m-3 mb-4 text-white text-base">Trending</h2>
    <app-carousel-image-list #trendings [items]="trendingsList" (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
  </div>
  <div class="in-theaters-movie carousel-container">
    <h2 class="m-3 mb-3 text-white text-base">Movies in theaters</h2>
    <app-carousel-image-list #moviesInTheatersRef [items]="moviesInTheaters"
                             (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
  </div>
  <div class="top-rated-movie carousel-container">
    <h2 class="m-3 mb-3 text-white text-base">Popular movies</h2>
    <app-carousel-image-list #PopularMoviesRef [items]="PopularMovies"
                             (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
  </div>
  <div class="top-rated-movie carousel-container">
    <h2 class="m-3 mb-3 text-white text-base">Top Rated Movies</h2>
    <app-carousel-image-list #topRatedMoviesRef [items]="topRatedMovies"
                             (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
  </div>
  <div class="upcoming carousel-container">
    <h2 class="m-3 mb-3 text-white text-base">Upcoming Movies</h2>
    <app-carousel-image-list #upComingRef [items]="upComingMovies"
                             (eventEmitter)="openDetailsDialog($event)"></app-carousel-image-list>
  </div>

</div>
<app-media-details-dialog #mediaDetailsDialogRef></app-media-details-dialog>
<app-recommended-media-dialog #recommendMediaDialogRef></app-recommended-media-dialog>

